# Creating Test Datasets From Source

### Append (Stack)

> Pass (no variance in in/out params) - no lengthening

> Pass (no variance in in/out params) - with lengthening

> Pass with warning (new columns)

> Pass with warning (cast child dataset to parent datatype)

> Fail (cast of child fails to meet parent specification)


### Merge (History Preserving)

> Pass (no variance in in/out params) - no lengthening

> Pass (no variance in in/out params) - with lengthening

> Pass with warning (new columns)

> Pass with warning (cast child dataset to parent datatype)

> Fail (cast of child fails to meet parent specification)


### Replace

> Pass (Output == Child)

In [3]:
import pandas as pd

In [4]:
source = pd.read_csv('source_complete.csv', encoding='latin-1')
source.head()

  C_CRS_SBJ                         C_TITLE C_CRS_UNIQUE
0      ANTH  PERSPECTIVES ON RACE (DSS)(CI)  ANTH3200TO1
1      CHEM       GENERAL CHEMISTRY I (BPS)  CHEM1110KB1
2      COMD  ETHICS/CRTCL THNK INTERPRETERS  COMD5920LO1
3       ECN       APPLIED ECONOMETRICS (QI)   ECN4330AO1
4      ENVS         HUMAN DIM WILDLIFE MGMT  ENVS4110NO1

### Case Class

This is a bundle container for holding multiple transforms needed for making each pass, fail, case.

In [5]:
from case import Case

In [6]:
c = Case(source=source)
c.report

{'message': 'empty'}

### Transformers

These do the heavy lifting, taking in data, making changes, and returning necessary outputs.

In [7]:
from transformers import Transformer

In [8]:
t = Transformer(name='test')
t.transform(source)
t.report

{'Transformer': 'test',
 'input_shape': (107633, 3),
 'output_shape': (107633, 3),
 'message': 'Nothing to Report'}

In [60]:
## GOAl UI
## How should the user interact with the transformers?

# case.split(n=, size=[float])  # Split dataset into parts
# case.add_col(n=, column=, specs={DATAGEN})  # Add column of given specificatuion to dataset
# case.remove_col(n=, column=, index=)  # Remove column from dataset
# case.change_type(n=, column=, index=)  # Change datatype of column in dataset

#### Split

Split data into n components of specified size

In [61]:
class SplitTransform(Transformer):
    def __init__(self, data: pd.DataFrame = None):
        super().__init__(name='split')
        self.transform(data)
    
    def transform(self, data):
        super().transform(data)

In [62]:
st = SplitTransform(data=source)
st.report

{'message': 'empty'}